#layer{
	width:100vw;
	height:100vh;
}
#myCanvas{
width:100vw;
height:100vh;
style.width:width;
style.height:height;
}
.head-layer{
	border-bottom: 0px solid white;
	border-bottom-width: thin;
	position:fixed;
	width:100%;
	top: 0%;
	background-color: Maroon; 
	z-index:1;
	text-align:right;
	display:flex;
    }
#def{
	width:1rem;
	height:0.25rem;
	color:light-blue;
}
.menu a{
	color:white;
	font-size:2.5rem;
}

@media screen and (max-width: 1600px) {
	.menu a{
font-size:1.5rem;}}
.info-container{
	display:flex;
}
.p-about{
	text-align: center;
	font-size:3rem;
	text-decoration: underline;
}	
.p-proj{
	text-align: center;
	font-size:3rem;
	text-decoration: underline;
}

.project-container{
	display:flex;
	
}
@media screen and (min-width: 800px) {
	.project-container{
	height:400px;}
	
	.project{
	width:400px;
	height:350px;}
	
	.project img{
    height:350px;
	width:350px;
	}
}

@media screen and (min-width: 600px) and (max-width: 800px) {
	.project-container{
	height:300px;}
	
	.project{
	width:390px;
	height:270px;}
	
	.project img{
    height:250px;
	width:250px;
	}
}
@media screen and (max-width: 600px) {
	.project-container{
	height:200px;}
	
	.project{
	width:350px;
	height:150px;}
	
	.project img{
    height:150px;
	width:150px;
	}
}
.project{
	margin:3%;
	transition:.3s;
	display:inline-block;
	position:relative;
}
.project img{
	transition:.3s;
	border-radius:4px;
}

.project :not(img){
	position:absolute;
	top:0%;
	z-index:1;
	color:white;
	text-align:center;
	width:90%;
	opacity:0;
	transition:.3s;	
}
.project:hover img{
	filter:blur(2px) brightness(60%);
	box-shadow:0 0 16px cyan
}
.project:hover :not(img){
	opacity:1;
}

.project h2 .link{
	text-align:left;
}
.photo{
	display: inline-block;
	width:40%;
	height:50%;
	margin-top:auto;
	margin-left:10vw;
	margin-right:auto;
}
.spec{
	margin:4%;
	top:10%;
	display: inline-block;
	width:59%;
	height:50%;
}
.section{
	background-color:BlanchedAlmond;
}

#spec-name{
	display: inline-block;
	width: 30%;
	font-weight:bold;
	font-size:100%;
}
#spec-per{
	display: inline-block;
}
.java {width: 65%; background-color: yellow;
 -webkit-transition-property: width;
    -webkit-transition-duration: 5s;
	transition-property: width;
    transition-duration: 1s;}
.sql {width: 62%; background-color: violet;
 -webkit-transition-property: width;
    -webkit-transition-duration: 5s;
	transition-property: width;
    transition-duration: 1s;}	
.atg {width: 60%; background-color: orange;
 -webkit-transition-property: width;
    -webkit-transition-duration: 5s;
	transition-property: width;
    transition-duration: 1s;}
.html {width: 65%; background-color: #4CAF50;
 -webkit-transition-property: width;
    -webkit-transition-duration: 5s;
	transition-property: width;
    transition-duration: 1s;}
.css {width: 60%; background-color: #2196F3;
-webkit-transition-property: width;
    -webkit-transition-duration: 5s;
	transition-property: width;
    transition-duration: 1s;}
.js {width: 50%; background-color: #f44336;
-webkit-transition-property: width;
    -webkit-transition-duration: 5s;
	transition-property: width;
    transition-duration: 1s;}
	
#oval_parent{
    background:IndianRed;
    width:80vw;
    height:70vh;
    overflow:hidden;
	margin-left:auto;
  margin-right:auto;
}

#oval{
    width:77vw;
    height:80vh;
    margin:3vh 3vw 1vh 1vw;  
    background: white;
    -moz-border-radius: 100vw / 50vh;
    -webkit-border-radius: 100vw / 50vh;
    border-radius: 100vw / 50vh;
}
#oval h1{
	font-size:1.5em;
	position:relative;
	text-align:center;
}

#oval h2{
	font-size:1em;
	margin-left:3vw;
	margin-right:2vw;
}

#oval h3{
	font-size:1em;	
	position:relative;
	text-align:center;
}
.contact{
	text-align: center;
	font-size:300%;
	text-decoration: underline;
}